.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

.links {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 2rem;
  justify-content: space-evenly;
}

.cart {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}